<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/inicio.css">

<main class="container">
 <div class="slider_container">
   <img class="chevron_left" src="../media/chevron_right.svg" alt="">
   <img class="chevron_right" src="../media/chevron_right.svg" alt="">
   <div class="slides_container">
      <div class="slide">
         <div class="slide_header">
            <p class="slide_header_txt">Y:310 X:322</p>
         </div>
         <video class="slide_img swipe" src="../media/slider-inicio/video.mp4" autoplay="" muted="" loop="" type="video/mp4"
            poster="../media/slider-inicio/video.jpg" data-index="0"></video>
      </div>
   </div>
    <!---->
    
 </div> <!--slider_container-->
 <div class="contacto_container">
    <div class="contacto_top">
       <p>síguenos en</p>
       <div class="contacto_icons">
        <a href="https://www.instagram.com/laestacionresidence" target="_blank"><img src="../media/instagram-icon.png" alt="" height="40" width="40" /></a>
        <a href="https://www.facebook.com/LaEstacionResidence" target="_blank"><img src="../media/facebook-icon.png" alt="" height="40" width="18" /></a>
       </div>
    </div>
    <div class="contacto_banner">
      <h1 title="La Estación Hotel & Residence, venta de ">
         <img src="../media/logo-la-estacion-hotel-residences-departamentos-venta-baratos-lujo-economicos-inversion-plusvalia.svg" alt="La Estación Hotel & Residences, departamentos en venta" width="240px" height="79">
      </h1>
      <h2><strong>Departamentos a 5  minutos del centro de San  Miguel de Allende.</strong> <br>Amenidades: alberca, rooftop, sala de juego y servicio de Hotel.</h2>
    </div>
    <div id="contacto" class="contacto_bottom">
       <img src="../media/ubicacion-icon.png" alt="">
       <p>
         Calzada de la Estación 90, <br>
         Zona Centro, 37700 <br>
         San Miguel de Allende, Gto.
      </p>
       <h1>
         +52 477 578 2748
       </h1>
    </div>
    <div class="forma_container">
       <form id="contacto_forma" class="contacto_forma" action="/" method="post">
         <input id="fc_refID" type="hidden" name="refID" value=""/>
         <input id="fc_refURL" type="hidden" name="refURL" value=""/>
         <input id="fc_lastURL" type="hidden" name="lastURL" value="<%= lastURL %>"/>
         <input id="fc_nombre" type="text" name="nombre" placeholder="Nombre" required />
         <input id="fc_telefono" type="number" name="telefono" placeholder="Teléfono" />
         <input id="fc_email" type="email" name="correo" placeholder="Email" required validate/>
         <select name="pref_contacto" id="fc_via_comunicacion">
            <option selected="selected" disabled>¿Cómo prefiere ser contactado?</option>
            <option value="Llamada">Llamada</option>
            <option value="Whatsapp">Whatsapp</option>
            <option value="Telegram">Telegram</option>
            <option value="Email">Email</option>
         </select>
         <select name="horario_atencion" id="fc_horario">
            <option selected="selected" disabled>Horarios de atención (México Centro)</option>
            <option value="9am - 10am">9am - 10am</option>
            <option value="10am - 11am">10am - 11am</option>
            <option value="11am - 12pm">11am - 12pm</option>
            <option value="12pm - 1pm">12pm - 1pm</option>
            <option value="1pm - 2pm">1pm - 2pm</option>
            <option value="2pm - 3pm">2pm - 3pm</option>
            <option value="3pm - 4pm">3pm - 4pm</option>
            <option value="4pm - 5pm">4pm - 5pm</option>
            <option value="5pm - 6pm">5pm - 6pm</option>
            <option value="6pm - 7pm">6pm - 7pm</option>
            <option value="7pm - 8pm">7pm - 8pm</option>
            <option value="8pm - 9pm">8pm - 9pm</option>
         </select>
         <div>
            <input id="fc_btn_enviar" type="submit" value="enviar">
         </div>
         <div class="forma_msj">
            <%= locals.msjForma  ? `${msjForma}` : '' %>
         </div>

       </form>
    </div>
 </div> <!--contacto_container-->
 <div class="legales_container">
      <p class="legales_content">
         © LA ESTACIÓN. <br>
         TODOS LOS DERECHOS RESERVADOS
         DERECHOS RESERVADOS | <br> <a href="/aviso-de-privacidad">POLÍTICA DE
         <span>PRIVACIDAD</a></span>
      </p>
      <p class="legales_subcontent">
         El vendedor de La Estación se reserva el derecho de realizar modificaciones en los planos, diseños exteriores,
         precios,
         materiales, especificaciones,
         acabados y características estándar en cualquier momento y sin previo aviso. Las fotografías, las representaciones
         son
         ilustrativos y conceptuales.         
      </p>
 </div>
</main>


<%- include('template-parts/footer') %>
<div class="blackBox display_none">
   
   <div class="confirmacion">
      <h3>Gracias! <br>
      Puedes confirmar tu asistencia</h3>
   <img src="../media/logo-la-estacion-hotel-residences-departamentos-venta-baratos-lujo-economicos-inversion-plusvalia.svg"
      alt="La Estación Hotel &amp; Residences, departamentos en venta" width="240px" height="79" class="confirmar_logo">
      <form action="#">
         <input type="text" name="correo_confirmacion" placeholder="nombre@gmail.com" id="mail_confirmado">
         <br>
         <input type="hidden" id="confirmacion_refID" name="refCode">
         <br>
         <input type="submit" value="confirmar" id="btn_confirmar" class="">
      </form>
   </div>

   
   <img class="gallery_close" src="../media/close_btn.svg" alt="">
</div>
<script src="../js/inicio.js"></script>
<!-- <link rel="stylesheet" href="../css/galeria.css"> -->
<style>
.confirmacion {
    display: grid;
    background-color: var(--Primary);
    grid-column-start: 2;
    height: 80%;
    max-width: 800px;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    text-align: center;
    padding: 5%;
    box-sizing: border-box;
}
.confirmar_logo{
   margin: 0 auto;
}
#btn_confirmar{
   width: 100%;
    background-color: var(--Secondary);
    color: #fff;
    text-transform: uppercase;
    border: 1px solid var(--Secondary);
    cursor: pointer;
}
/*  */
.blackBox {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    grid-template-columns: 26px 1fr 26px;
    grid-template-rows: 1fr 30px;
    z-index: 51;
}
.gallery_close {
    grid-column: span 3;
    width: 25px;
    height: 25px;
    z-index: 22;
}
@media screen and (min-width: 600px){
   .blackBox {
      grid-template-columns: 150px 1fr 150px;
      grid-template-rows: 1fr 143px;
      z-index: 51;
      padding-top: 43px;
   }
   .gallery_close {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 52;
   }
}
</style>

<%- include('template-parts/scripts') %>


   <script>
      const confirmacion_refID = document.getElementById('confirmacion_refID');
      confirmacion_refID.value = getCookieConfirm('refid');




            
               const blackBox = document.querySelector('.blackBox');
               const gallery_close = document.querySelector('.gallery_close');
               const btn_confirmar = document.querySelector('#btn_confirmar');
               

               gallery_close.addEventListener('click', function (e) {
                  e.preventDefault();
                  blackBox.classList.add('display_none');
               });
               btn_confirmar.addEventListener('click', function (e) {
                  e.preventDefault();
                  blackBox.classList.add('display_none');
               });
               
            const confirmacion_ref = getCookieConfirm('refid');
            const confirmado = localStorage.getItem('confirmado21ago');
            console.log(confirmado);
            if (confirmacion_ref === 'qwer' && confirmado == null) {
               blackBox.classList.remove('display_none');
               localStorage.setItem('confirmado21ago', 'true');
            }

            // console.log(confirmacion_ref);

           function getCookieConfirm(name) {
               function escape(s) { return s.replace(/([.*+?\^$(){}|\[\]\/\\])/g, '\\$1'); }
               var match = document.cookie.match(RegExp('(?:^|;\\s*)' + escape(name) + '=([^;]*)'));
               return match ? match[1] : null;
            }


            // confirmar asistencia
            const mail_confirmado = document.getElementById('mail_confirmado');
            btn_confirmar.addEventListener('click', function (e) {
               e.preventDefault();
                  var myHeaders = new Headers();
               myHeaders.append("Content-Type", "application/json");

               var raw = JSON.stringify({
                  "refCode": confirmacion_refID.value,
                  "correo_confirmacion": mail_confirmado.value
               });

               var requestOptions = {
                  method: 'POST',
                  headers: myHeaders,
                  body: raw,
                  redirect: 'follow'
               };

               fetch("/api/v1/referals/confirmacion", requestOptions)
                  .then(response => response.text())
                  .then(result => console.log(result))
                  .catch(error => console.log('error', error));
            });
   </script>

