<%- include('template-parts/header') %>
<link rel="stylesheet" href="../css/inicio.css">

<main class="container">
 <div class="slider_container">
   <img class="chevron_left" src="../media/chevron_right.svg" alt="">
   <img class="chevron_right" src="../media/chevron_right.svg" alt="">
   <div class="slides_container">

   </div>
    <!---->
    
 </div> <!--slider_container-->
 <div class="contacto_container">
    <div class="contacto_top">
       <p>síguenos en</p>
       <div class="contacto_icons">
        <a href="https://www.instagram.com/laestacionresidence" target="_blank"><img src="../media/instagram-icon.png" alt=""></a>
        <a href="https://www.facebook.com/LaEstacionResidence" target="_blank"><img src="../media/facebook-icon.png" alt=""></a>
       </div>
    </div>
    <div class="contacto_banner">
      <h1>
         <img src="../media/logo-la-estacion-hotel-residences-departamentos-venta-baratos-lujo-economicos-inversion-plusvalia.svg" alt="La Estación Hotel & Residences, departamentos en venta" width="240px">         
      </h1>
      <h2><strong>Departamentos a 5  minutos del centro de San  Miguel de Allende.</strong> <br>Amenidades: alberca, rooftop, sala de juego y servicio de Hotel.</h2>
    </div>
    <div id="contacto" class="contacto_bottom">
       <img src="../media/ubicacion-icon.png" alt="">
       <p>
         Calzada de la Estación 90, <br>
         Zona Centro, 37700 <br>
         San Miguel de Allende, Gto.
      </p>
       <h1>
         477 578 2748
       </h1>
    </div>
    <div class="forma_container">
       <form id="contacto_forma" class="contacto_forma" action="/" method="post">
         <input id="fc_refID" type="hidden" name="_refID" value="<%= _refID %>"/>
         <input id="fc_refURL" type="hidden" name="_refURL" value="<%= _refURL %>"/>
         <input id="fc_nombre" type="text" name="nombre" placeholder="Nombre" required />
         <input id="fc_telefono" type="number" name="telefono" placeholder="Teléfono" />
         <input id="fc_email" type="email" name="correo" placeholder="Email" required validate/>
         <select name="pref_contacto" id="fc_via_comunicacion">
            <option selected="selected" disabled>¿Cómo prefiere ser contactado?</option>
            <option value="Llamada">Llamada</option>
            <option value="Whatsapp">Whatsapp</option>
            <option value="Telegram">Telegram</option>
            <option value="Email">Email</option>
         </select>
         <select name="horario_atencion" id="fc_horario">
            <option selected="selected" disabled>Horarios de atención (México Centro)</option>
            <option value="9am - 10am">9am - 10am</option>
            <option value="10am - 11am">10am - 11am</option>
            <option value="11am - 12pm">11am - 12pm</option>
            <option value="12pm - 1pm">12pm - 1pm</option>
            <option value="1pm - 2pm">1pm - 2pm</option>
            <option value="2pm - 3pm">2pm - 3pm</option>
            <option value="3pm - 4pm">3pm - 4pm</option>
            <option value="4pm - 5pm">4pm - 5pm</option>
            <option value="5pm - 6pm">5pm - 6pm</option>
            <option value="6pm - 7pm">6pm - 7pm</option>
            <option value="7pm - 8pm">7pm - 8pm</option>
            <option value="8pm - 9pm">8pm - 9pm</option>
         </select>
         <div>
            <input id="fc_btn_enviar" type="submit" value="enviar">
         </div>
         <div class="forma_msj">
            <%= locals.msjForma  ? `${msjForma}` : '' %>
         </div>
        
            <%- locals.msjForma ? ` <script>
            window.addEventListener('load', function(){
               document.getElementById('contacto').scrollIntoView();
            }); 
            </script>` : '' %>
         
       </form>
    </div>
 </div> <!--contacto_container-->
 <div class="legales_container">
      <p class="legales_content">
         © LA ESTACIÓN. <br>
         TODOS LOS DERECHOS RESERVADOS
         DERECHOS RESERVADOS | <br> <a href="/aviso-de-privacidad">POLÍTICA DE
         <span>PRIVACIDAD</a></span>
      </p>
      <p class="legales_subcontent">
         El vendedor de La Estación se reserva el derecho de realizar modificaciones en los planos, diseños exteriores,
         precios,
         materiales, especificaciones,
         acabados y características estándar en cualquier momento y sin previo aviso. Las fotografías, las representaciones
         son
         ilustrativos y conceptuales.         
      </p>
 </div>
</main>

<%- include('template-parts/footer') %>

<script src="../js/inicio.js"></script>

<%- include('template-parts/scripts') %>
