<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Departamentos a 5 minutos del centro de San Miguel de Allende. Amenidades: Alberca, Rooftop, Sala de juegos y Servicio de Hotel.">
   <link rel="canonical" href="https://www.laestacionresidence.mx">
   <meta name="robots" content="index, follow">
   <meta name="keywords" content="la estacion, hotel, residencias, guanajuato, mexico, real estate, venta de departamentos, centrico, cerca del centro, exclusivos, elegantes, buena inversion">
   <link rel="icon" type="image/gif" href="../media/favicon.png" />
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/header_footer.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Brygada+1918&family=Encode+Sans:wght@100;500&display=swap" rel="stylesheet">
   <!-- Facebook Pixel Code -->
   <script>
      !function (f, b, e, v, n, t, s) {
         if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
         };
         if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
         n.queue = []; t = b.createElement(e); t.async = !0;
         t.src = v; s = b.getElementsByTagName(e)[0];
         s.parentNode.insertBefore(t, s)
      }(window, document, 'script',
         'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '192161102360282');
      fbq('track', 'PageView');
   </script>
   <noscript><img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=192161102360282&ev=PageView&noscript=1" /></noscript>
   <!-- End Facebook Pixel Code -->
   
   <!-- Global site tag (gtag.js) - Google Analytics 'UA-194679361-1'  Google Ads: 'AW-397905907' -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-194679361-1"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-194679361-1');
      gtag('config', 'AW-397905907');
   </script>
   <%- locals.msjForma ? `<!-- Event snippet for Website lead conversion page --> <script> gtag('event', 'conversion', { 'send_to': 'AW-397905907/kZyNCKjj24kCEPOf3r0B' });</script>` : '<!--No Lead-->' %>
   <title><%= locals.page ? 'La Estación | ' + page : 'La Estación Hotel & Residence' %></title>
</head>

<body>
   <input id="horario_abierto" type="hidden" value="<%= locals.fechaMX %>T10:00:00" />
   <input id="horario_cerrado" type="hidden" value="<%= locals.fechaMX %>T21:00:00" />
   <header>
      <a class="header_logo" href="/">
         <img src="../media/la-estacion-logo-royal-home-mexico-plaza.svg" alt="la-estacion-logo-royal-home-mexico-plaza">
      </a>
      <div class="header_icons">
         <!--icons-->
         <a href="https://wa.me/+524775782748" target="_blank"> <img class="whats_icon" src="../media/whatsapp-la-estacion-mexico-plaza.svg"
               alt="whatsapp-la-estacion-mexico-plaza"> </a>
         <a href="tel:+524775782748"><img class="tel_icon hidden" src="../media/telefono-la-estacion-mexico-plaza.svg"
               alt="telefono-la-estacion-mexico-plaza"></a>
         <!--menu desktop-->
         <nav class="menu_desk">
            <ul>
               <li><a class="menu_link <%= path == '/' ? 'link_active' : '' %>" href="/">inicio</a></li>
               <li><a class="menu_link <%= path == '/proyecto' ? 'link_active' : '' %>" href="/proyecto">proyecto</a></li>
               <li><a class="menu_link <%= path == '/vive-la-estacion' ? 'link_active' : '' %>" href="/vive-la-estacion">vive la estación</a></li>
               <li><a class="menu_link <%= path == '/beneficios' ? 'link_active' : '' %>" href="/beneficios">beneficios</a></li>
               <li><a class="menu_link <%= path == '/ubicacion' ? 'link_active' : '' %>" href="/ubicacion">ubicación</a></li>
               <li><a class="menu_link <%= path == '/quienes-somos' ? 'link_active' : '' %>" href="/quienes-somos">¿quiénes somos?</a></li>
               <li><a class="menu_link link_contacto <%= path == '/#contacto' ? 'link_active' : '' %>" href="/#contacto">contacto</a></li>
            </ul>
         </nav>
      </div>
      <div class="header_menu">
         <img class="menu_icon" src="../media/menu-la-estacion-royal-home-plaza-mexico.svg" alt="menu-la-estacion-royal-home-plaza-mexico">
      </div>
   </header>
   <nav class="menu_top">
      <ul>
         <li><a class="menu_link <%= path == '/' ? 'link_active' : '' %>" href="/">inicio</a></li>
         <li><a class="menu_link <%= path == '/proyecto' ? 'link_active' : '' %>" href="/proyecto">proyecto</a></li>
         <li><a class="menu_link <%= path == '/vive-la-estacion' ? 'link_active' : '' %>" href="/vive-la-estacion">vive la estación</a></li>
         <li><a class="menu_link <%= path == '/beneficios' ? 'link_active' : '' %>" href="/beneficios">beneficios</a></li>
         <li><a class="menu_link <%= path == '/ubicacion' ? 'link_active' : '' %>" href="/ubicacion">ubicación</a></li>
         <li><a class="menu_link <%= path == '/quienes-somos' ? 'link_active' : '' %>" href="/quienes-somos">¿quiénes somos?</a></li>
         <li><a class="menu_link link_contacto <%= path == '/#contacto' ? 'link_active' : '' %>" href="/#contacto">contacto</a></li>
      </ul>
      <div class="close_menu">
         <img class="close_menu_icon" src="../media/close-menu-la-estacion-plaza-mexico.png" alt="">
      </div>
   </nav>