<!-- todo lo que se ponga antes del header quedara dentro del head -->
</head>
<!--  -->
<body>
   <input id="horario_abierto" type="hidden" value="<%= locals.fechaMX %>T10:00:00" />
   <input id="horario_cerrado" type="hidden" value="<%= locals.fechaMX %>T21:00:00" />
   <header>
      <a class="header_logo" href="/">
         <img src="../media/la-estacion-logo-royal-home-mexico-plaza.svg" alt="la-estacion-logo-royal-home-mexico-plaza" height="60" width="56" />
      </a>
      <div class="header_icons">
         <!--icons-->
         <a class="conversion_whats" href="https://wa.me/+524775782748" target="_blank" rel="noopener"> <img class="whats_icon" src="../media/whatsapp-la-estacion-mexico-plaza.svg"
               alt="whatsapp-la-estacion-mexico-plaza" height="36" width="36" /> </a>
         <a href="tel:+524775782748" rel="noopener"><img class="tel_icon hidden" src="../media/telefono-la-estacion-mexico-plaza.svg"
               alt="telefono-la-estacion-mexico-plaza"></a>
              
                  <a href="https://my.matterport.com/show/?m=UqyEGwf8j8d" target="_blank" rel="noopener">
                     <%# <img class="menu_header_icon" src="../media/assets/WA.png" alt=""> #%>
                        <i class="header_icons"> <img class= "lpi_icon" src="../media/360-degree-rotate.svg"  height="36" width="36"/></i>
                  </a>
             
         
         <!--menu desktop-->
         <nav class="menu_desk">
            <ul>
               <li><a class="menu_link <%= path == '/' ? 'link_active' : '' %>" href="/">inicio</a></li>
               <li><a class="menu_link <%= path == '/departamentos' ? 'link_active' : '' %>" href="/departamentos">departamentos</a></li>
               <li><a class="menu_link <%= path == '/vive-la-estacion' ? 'link_active' : '' %>" href="/vive-la-estacion">vive la estación</a></li>
               <li><a class="menu_link <%= path == '/beneficios' ? 'link_active' : '' %>" href="/beneficios">beneficios</a></li>
               <li><a class="menu_link <%= path == '/ubicacion' ? 'link_active' : '' %>" href="/ubicacion">ubicación</a></li>
               <li><a class="menu_link <%= path == '/quienes-somos' ? 'link_active' : '' %>" href="/quienes-somos">¿quiénes somos?</a></li>
               <li><a class="menu_link link_contacto <%= path == '/#contacto' ? 'link_active' : '' %>" href="/#contacto">contacto</a></li>
            </ul>
         </nav>
      </div>
      <div class="header_menu">
         <img class="menu_icon" src="../media/menu-la-estacion-royal-home-plaza-mexico.svg" alt="menu-la-estacion-royal-home-plaza-mexico">
      </div>
   </header>
   <nav class="menu_top">
      <ul>
         <li><a class="menu_link <%= path == '/' ? 'link_active' : '' %>" href="/">inicio</a></li>
         <li><a class="menu_link <%= path == '/departamentos' ? 'link_active' : '' %>" href="/departamentos">departamentos</a></li>
         <li><a class="menu_link <%= path == '/vive-la-estacion' ? 'link_active' : '' %>" href="/vive-la-estacion">vive la estación</a></li>
         <li><a class="menu_link <%= path == '/beneficios' ? 'link_active' : '' %>" href="/beneficios">beneficios</a></li>
         <li><a class="menu_link <%= path == '/ubicacion' ? 'link_active' : '' %>" href="/ubicacion">ubicación</a></li>
         <li><a class="menu_link <%= path == '/quienes-somos' ? 'link_active' : '' %>" href="/quienes-somos">¿quiénes somos?</a></li>
         <li><a class="menu_link link_contacto <%= path == '/#contacto' ? 'link_active' : '' %>" href="/#contacto">contacto</a></li>
      </ul>
      <div class="close_menu">
         <img class="close_menu_icon" src="../media/close-menu-la-estacion-plaza-mexico.png" alt="">
      </div>
   </nav>